/* WHY CHOOSE US */
.why {
  padding: 5rem 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 7rem;
}

.why-h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  color: #c89917;
  text-align: left;
  padding-left: 6rem;
  padding-top: 3rem;
}

.why-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2.5rem;
  flex-flow: wrap;
}

.why-item span {
  display: block;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.why-item h4 {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: black;
}

.why-item p {
  color: #666;
}

/* 3-column layout on medium+ screens */
@media (max-width: 768px) {
  .why-h3 {
    text-align: left;
    padding-left: 2rem;
  }
}
