/* CONTACT */
.contact {
  background: #d97706; /* amber-600 */
  color: white;
  padding: 2.5rem 1.5rem;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
}

.contact h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.contact p {
  margin: 0.5rem 0;
}
